HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
mybatis.iml
*/target
*/mvnw
*/mvnw.cmd
*/.mvn

*.log*.class
*target/
*.idea/
*.svn/
.idea/
*.iml
*.classpath
*.project
*.settings/
*.DS_Store
*.swp
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
/.factorypath
.factorypath
@project.log*
*.log
*.gz