<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atom.mybatis.mapper.OrderDataMapper">

    <select id="normalSelectOrderBySellerMobile" parameterType="string" resultType="com.atom.mybatis.bean.OrderDataDO">
        select
        id ,
        order_id as orderId,
        seller_name as sellerName,
        seller_mobile as sellerMobile,
        customer_identity_no as customerIdentityNo,
        create_time as createTime,
        update_time as updateTime
        from order_data
        <where>
            seller_mobile = #{sellerMobile}
        </where>
    </select>

    <resultMap id="baseResultMap" type="com.atom.mybatis.bean.OrderDataDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="seller_name" jdbcType="VARCHAR" property="sellerName"/>
        <result column="seller_mobile" jdbcType="VARCHAR" property="sellerMobile" typeHandler="com.atom.mybatis.typehandler.EnCryptTypeHandler"/>
        <result column="customer_identity_no" jdbcType="VARCHAR" property="customerIdentityNo" typeHandler="com.atom.mybatis.typehandler.EnCryptTypeHandler"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="encryptSelectOrderBySellerMobile" parameterType="string" resultMap="baseResultMap">
        select
        id ,
        order_id ,
        seller_name ,
        seller_mobile ,
        customer_identity_no ,
        create_time ,
        update_time
        from order_data
        <where>
            seller_mobile =
            #{sellerMobile,  typeHandler=com.atom.mybatis.typehandler.EnCryptTypeHandler}
        </where>
    </select>


    <insert id="insert" parameterType="com.atom.mybatis.bean.OrderDataDO">
        insert into order_data(order_id,seller_name,seller_mobile,customer_identity_no,create_time,update_time)
        values (
        #{orderId},
        #{sellerName},
        #{sellerMobile,  typeHandler=com.atom.mybatis.typehandler.EnCryptTypeHandler},
        #{customerIdentityNo, typeHandler=com.atom.mybatis.typehandler.EnCryptTypeHandler},
        now(),
        now()
        )
    </insert>
</mapper>