<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atom.mybatis.mapper.UsedCarCustomerMapper">

    <resultMap id="BaseResultMap" type="com.atom.mybatis.bean.UsedCarCustomer">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="TINYINT"/>
        <result column="customer_status" property="customerStatus" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="gender" property="gender" jdbcType="TINYINT"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="alternate_phone" property="alternatePhone" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="tags" property="tags" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, telephone, `name`, age,customer_status,
     gender, `type`, remark, alternate_phone, address, tags,created_time,update_time
  </sql>

</mapper>