<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atom.mybatis.mapper.UserMemberInfoMapper">
    <resultMap id="BaseResultMap" type="com.atom.mybatis.bean.UserMemberInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="id_no" property="idNo" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, user_name, create_time,
        update_time, real_name, mobile_phone, email, id_no
    </sql>

    <insert id="insert" parameterType="com.atom.mybatis.bean.UserMemberInfo" keyProperty="id" useGeneratedKeys="true">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        insert into user_member_info
        (
        user_name,
        real_name,
        mobile_phone,
        email,
        id_no,
        create_time,
        update_time,
        encode_version
        )
        values
        (
        #{userName},
        #{realName},
        #{mobilePhone},
        #{email},
        #{idNo},
        now(),
        now(),
        #{encodeVersion}
        )
    </insert>


    <select id="selectById" resultMap="BaseResultMap" parameterType="integer">
        select * from user_member_info where id = #{id}
    </select>

    <select id="selectByIdNo" resultMap="BaseResultMap" parameterType="string">
        select * from user_member_info where id_no = #{idNo}
    </select>

    <select id="selectByIdNoUseObject" resultMap="BaseResultMap" parameterType="com.atom.mybatis.bean.UserMemberInfo">
        select * from user_member_info where id_no = #{idNo}
    </select>

</mapper>